.alert-enter {
    transform: scale(0.1, 0.1);

}
.alert-enter-active {
    transform: scale(1, 1);
    transition: transform 200ms;
}

.alert-exit {
    opacity: 1;
    transform: scale(1, 1);
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0, 0);
    transition: all 200ms ;
}
